body{
    background-color: #3a4a58;
}
h1{
    color: #ffa600;
    text-align: center;
    font-size: 30px;
    height: 5vh;
    margin-bottom: 5vh;
}
p{
    margin: 0;
    margin-right: 0;
}

#startimage{
    width: 60vw;
    height: 35vh;
}

.centerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;   
    border: 2px solid white;
    border-radius: 20px;
    width: 60vw;
    height: auto;
}


.menu{
    width: 46vw;
    height: 25vh;
    max-height: 30vh;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    
}
.coffee{
    width: 23vw;
    margin: 0 auto;
    height: 25vh;
    max-height: 30vh;
    float: left;
}

.textlist{
    width: 12vw;
    height: 25vh;
    max-height: 30vh;
    margin: 0;
}
.image{
    width: 10vw;
    height: 25vh;
}
.images{
    margin-top: 1vh;
    width: 10vw;
    height: auto;
    border-radius: 20px;
    border: 1px solid white;

}

.textlist, .image{
    float: left;
}


.tea{
    width: 23vw;
    margin: 0 auto;
    height: 25vh;
    max-height: 35vh;
    float: left;
}

.menutitle{
    color: #ffa600;
    margin-left: 0;
    margin-bottom: 1vh;
    font-size: 1.5em;
    margin-left: 13%;
}

li{
    color: whitesmoke;
    font-size: 1em;
    list-style: circle;
}


.prices{
    width: 60vw;
    height: 50vh;
    background-color: rgba(42,53,63,255);
    border: 2px solid whitesmoke;
    border-radius: 20px;
    margin: 0 auto;
}

.table{
    margin-top: 2vh;
    color: rgb(84, 84, 84);
    width: 50vw;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;

}


table{
    border-spacing: 0px;
}

th,td{
    width: 40vh;
}
th{
    height: 8vh;
}
td{
    height: 4vh;
    text-align: center;
}
tr:nth-child(even) {
    background-color: darkgray;
}
tr:nth-child(odd) {
    background-color: rgb(148, 148, 148);
}

.muffinstor{
    height: 5vh;
    width: auto;
}
.muffinliten{
    height: 4vh;
    width: auto;
}
.pth{
    font-size: 200px;
}
.title{
    text-align: center;
    margin: 10px;
    font-size: 1.7em;
    color: #ffa600;
    margin-bottom: 20px;
}

.endimg{
    margin-top: 5vh;
}
.imgend{
    margin-top: 1vh;
    width: 60vw;
    margin: auto 0;
    border-radius: 20px;
    border: 2px solid white;
}

hr{
    margin-top: 5vh;
    width: 60vw;
    margin-bottom: 5vh;
}



.informationlist{
    margin-top: 5vh;
    width: 60vw;
    height: auto;
    background-color: #0015ff;
    margin: 0 auto;
    text-align: center;
}

.omoss{
    width: 20vw;
    max-height: 25vh;
    float: left;
}

.foljoss{
    width: 20vw;
    max-height: 25vh;
    float: left;
}

.information{
    width: 20vw;
    max-height: 25vh;
    float: left;
}

.listtitle{
    font-size: 1.3em;
    font-style: italic;
    color: #ffa600;
    margin-bottom: 2vh;
}
.lista{
    color: #a0abb5;
    margin-bottom: 20px;
    list-style: none;
}

.socials{
    width: 2vw;
    height: auto;
    margin: 5px;
}