body{
    background-color: #3a4a58;
}
h1{
    color: #ffa600;
    text-align: center;
    font-size: 30px;
    height: 5vh;
}

.startimage{
    height: 30vh;
}

.centerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: auto;    
    border: 2px solid white;
    border-radius: 30px;
    height: 30vh;
}


.menu{
    width: 99vw;
    height: 40vh;
}
.coffee{
    width: 50vw;
    height: 40vh;
    background: #ffa600;
}

.tea{
    width: 50vw;
    height: 40vh;
    background: #ffa600;
}
