p{
    color: wheat;
    font-size: 2rem;
    text-align: center;
}



.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8{
    background-color: red;
    border: 1px solid rgb(0, 0, 0);
}

.container{
    display: grid;
    grid-template-rows: 32vh 32vh 32vh ;
    grid-template-columns: 24vw 24vw 24vw 24vw;
    gap: 15px;
    margin: auto 0;
}

.item1{
    grid-area: 1 / 1 / 4/ 2;
}

.item2{
    grid-area: 1 / 2 / 1 / 4;
}

.item3{
    grid-area: 1 / 4 / 1 / 5;
}

.item8{
    grid-area: 2 / 4 / 4/ 5;
}