*{
    background-color:rgb(141, 169, 195);
    height: 20vh;
}

.container{
    display: grid;
    width: 80vw;
    height: 200vh;
    grid-template-rows: 40vh 40vh 55vh 7vh;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'Head'
    'content1'
    'sections'
    'footer'
    ;
    margin: 0 auto;
}

/*Header Content*/
header{
    grid-area: Head;
}

.topimg{
    width: 80vw;
    height: 30vh;
}

/*nav*/

nav{
    margin-top: -0.9vh;
    height: 10vh;
    width: 80vw;
    background-image: url('C:\Users\viktor.terlegard-pet\Desktop\Desktop\Programmering\Webb 1\Start\Skola-webb\Skol-Projekt\SlutProjekt Web1\img\blackback_10x74.gif');
    background-color: black;
}
li{
    color: white;
}