
.content{
    margin: 0 auto;
    height: 136vh;
    background-color: rgb(169, 165, 165);
    width: 80vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gridsystem{
    margin: 0 auto;
    height: 134vh;
    background-color: rgb(169, 165, 165);
    width: 78vw;
    margin: 1vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh 35vh 10vh;
    grid-template-areas: 
    'title'
    'content'
    'second-content'
    'footer';
}

.forum{
    font-size: 2.7vw;
    font-weight: bold;
    margin-top: -4vh;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    grid-area: title;
}
.tophr{
    margin-top: -6vh;
}







.topcontent{
    grid-area: content;
    display: grid;
    grid-template-columns: 1.1fr 3fr;
    grid-template-rows: 1fr;
    gap: 1vw;
    grid-template-areas: 
    'leftside cont'
    ;
}

.nyttforum{
    grid-area: leftside;
    background-color: white;
    border: 1.5px solid black;


}
.nytt-title{
    font-weight: bold;
    font-size: 1.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    margin-left: 1vw;
}
.contentline-forum {
    margin-left: 1vw;
    display: grid;
    grid-template-columns: 7fr 1.5fr; 
    grid-auto-rows: min-content; 
    padding: 0;
}

.text-nyttforum {
    grid-column: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
}

.sidonotis {
    grid-column: 2; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.notis {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    color: white;
    background-color: red;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px;
    width: 2vw;
    text-align: center;
}







.forumcontent{
    grid-area: cont;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 2.5fr;
    grid-template-areas: 
    'snack'
    'trådar'
    ;
    gap: 1vw;
}

/* Spel Grid CSS*/
.spel{
    grid-area: snack;
    background-color: white;
    border: 1.5px solid black;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 1fr;
}

/* Spel Text Settings */
.spel-text{
    margin: 1vw;
}
.red {
    color: red;
    font-size: 1.25vw;
    margin: 0; 
}
.bigger-spel {
    font-size: 2.5vw;
    margin: 0; 
}

.brödtext {
    font-size: 1.25vw;
    margin: 0; 
}

/* Form Settings */
.formtext{
    float: left;
}
.spelform{
    margin-left: 5vw;
    float: left;

}
.searchforum{
    float: left;
}

/* Trådars Grid CSS */
.threads{
    grid-area: trådar;
    background-color: white;
}







.forumcontent-bottom{
    grid-area: second-content;
    background-color: black;
    margin-top: 1vw;
}






footer{
    margin-top: 1vw;
    grid-area: footer;
    background-color: blue;
}