body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #c5d4e4;
}
.main{
    width: 80vw;
    margin: 0 auto;
    margin-top: 2vh;
}
.sectionmain{
    float: left;
    margin-bottom: 2vh;
    
}
.mainimg{
    width: 53vw;
    margin-right: 1vw;
}

.sidebar {
    background-color: white;
    width: 24.4vw;
    height: 21.9vw;
    float: left;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    float: left;
    color: black;
    font-size: 2vh;
    text-align: center;
}
.sidebar form {
    margin: 0 auto;
    margin-bottom: 20px;
}

.sidebar input[type="text"],
.sidebar input[type="password"] {
    width: 80%;
    margin-bottom: 10px;
    padding: 8px;
}

.sidebar button{
    width: 90%;
    padding: 8px;
    background-color: #354a60;
    color: white;
    border: none;
    cursor: pointer;
}
.creacc{
 color: #354a60 ;
}

.creacc:hover{
    color: #678db6;
    text-shadow: #c5d4e4;
}

.sidebar button:hover {
    background-color: #536f8c;
}
.trådar{
    list-style-type: none;
    padding: 0;
    font-size: 2.4vh;
    width: 80%;
    margin: 0 auto;

}
h3{
    background-color: black;
    color: white;
    font-size: 2.4vh;
    width: 80%;
    margin: 0 auto;
    margin-top: 2vh;
}
span{
    background-color: #536f8c;
    width: 100%;
}


.cards{
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 85vh;
}
.card-nyheter, .card-reviews, .card-hårdvara{
    height: 85vh;
    width: 26vw; 
    background-color: aliceblue;
    float: left;
}
.card-reviews{
    margin-left: 1vw;
    margin-right: 1vw;
}

.cardtitle{
    background-color: black;
    color: white;
    font-size: 2.6vh;
    margin-top: 0vh;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 2vh;

}

.cardbanner{
    margin-top: 1vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.titles{
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    margin-top: 1vh;
    font-size: 3vh;
}
.titles2{
    margin: 0 auto;
    text-align: center;
    margin-top: 1vh;
    font-size: 3.5vh;
    margin-bottom: 1.8vh;
}

.text{
    width: 90%; 
    margin: 0 auto;
    font-size: 2.4vh;
}
hr{
    width: 90%;
    height: 2px;
    background-color: yellow;

}

footer {
    background-color: #ffffff;
    padding: 10px 20px;
    margin: 0 auto; 
    margin-top: 1vw;
    width: 77vw;
}

.domain {
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    margin: 0 auto; 
}

.domain p {
    margin: 0; 
    font-size: 1em; 
    flex: 1; 
    text-align: center;
}


