body{
  background-color: blueviolet;
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.25fr 1fr 1fr 1fr 0.25fr;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
    'Header Header Header Header Header'
    'sidebar contents contents contents contents'
    'sidebar contents contents contents contents'
    'sidebar contents contents contents contents'
    'footer footer footer footer footer';
}



.header {
  grid-area: Header;
}

.Sidebar {
  grid-area: sidebar;
}

.maincontent1 {
  grid-area: contents;
  border: 4px solid red;
  z-index: 4;
}
.maincontent2 {
  grid-area: contents;
  border: 4px solid rgb(148, 103, 160);
  z-index: 3;
  display: none;
}
.maincontent3 {
  grid-area: contents;
  border: 4px solid rgb(117, 190, 22);
  z-index: 2;
  display: none;
}
.maincontent4 {
  grid-area: contents;
  border: 4px solid rgb(18, 20, 176);
  z-index: 1;
  display: none;
}

.footer {
  grid-area: footer;
}


.header{
  text-align: center;
  font-size: 1rem;
}

.buttons{
  display: block;
  margin: 0 auto;
}
li {
  list-style-type: none;
  padding: 1vh;
}

.buttondetails{
  font-size: 1.5vw;
}